.nav {
	border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	height: 100px;
}

.nav li {
	display: inline;
	color: #000000;
	text-transform: uppercase;
	font-size: 20px;
	font-family: "Quicksand", sans-serif;
}

.nav a {
	display: inline-block;
	text-decoration: none;
	color: #000000;
	padding: 10px;
}

.jumbotron {
	font-family: "Pacifico", cursive;
	background-color: #ff7575;
	height: 300px;
	font-weight: bold;
	font-size: 48px;
	color: #ffffff;
	text-align: center;
}


.jumbotron p {
	font-family: "Quicksand", sans-serif;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

.row {
  width: 100%;
  height: 500px;
  background-color: #fffff5;
}

.block {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: #ffffff;
  width: 100px;
  display: inline-block; 
  text-align: center;
  background-color: #ff7575;
  border-radius: 50px;
  padding-top: 200px;
}

.block p {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  font-size: px;
}

.footer {
	background-color: #fff0f0;
}

.footer a {
	font-weight: bold;
	font-size: 10px;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	border: 3px solid #000000;
}


