.nav li {
	display: inline;
	padding-right: 10px;
	padding-left: 100px;
	color: #000000;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	text-decoration: none;
}

.jumbotron {
	font-family: "Pacifico", cursive;
	background-color: #ff7575;
	height: 300px;
	font-weight: bold;
	font-size: 48px;
	color: #ffffff;
	text-align: center;
}


.jumbotron p {
	font-family: "Quicksand", sans-serif;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

.row {
  width: 100%;
  text-align: center; 
  font-family: "Pacifico", cursive;
  background-color: #fffff5;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.block {
  width: 100px;
  display: inline-block; 
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  font-size: 15px;
  border-radius: 50%;
}

.footer {
	background-color: #fff0f0;
}

.footer a {
	font-weight: bold;
	font-size: 10px;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	border: 3px solid #000000;
}


